mixin stages({ range, count })
  - var offset = 30;
  - var x0 = 0;
  - var y0 = offset;
  - var x1 = offset;
  - var h = offset * 2;
  - var w =  h * count * 2;
  svg.stages_svg(width=w, height=h)
    -for(let i = 1; i <= count; i++)
      -
        var isCompleted = (i <= range)
        ? "stages_svg__stage_completed"
        : '';
      if (i < count)
        -isFilled = (i+1 <= range) ? isCompleted : '';
        line.stages_svg__stage(
            class=isFilled,
            x1=x0+offset, y1=y0,
            x2=x1+offset, y2=y0
        )
        
      -cCircle = (x0 + x1) / 2;
      circle.stages_svg__stage(
        class=isCompleted,
        cx=cCircle, cy=y0,
        r=20
      )
      text.stages__step(
            x=cCircle, y=y0+5,
            text-anchor="middle"
      )=i
      -x0 = x1 + offset;
      -x1 = x0 + offset;
